
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>XÁC NHẬN ĐƠN HÀNG</h2>
<h4>Đặt hàng thành công</h4>
<p>
    @Html.ActionLink("Tiếp tục mua hàng.","Index","Home")
</p>

